---
title: Gallery
banner: white
---

<section class="section">
  <div class="container">

    <ul class="mason gallery" data-mason>
      <% data.gallery.each do |event| %>
        <li class="mason-item has-placard <%= event.classes %>">
          <a href="#<%= make_path(event.name) %>" data-gallery-target data-scroll>
            <img src="/assets/img/gallery/<%= make_path(event.name) %>/thumb/placard.jpg" alt="" class="mason-img">
            <div class="gallery-placard">
              <h4 class="gallery-placard-heading"><%= event.location %></h4>
              <p class="gallery-placard-subheading"><%= event.name %></p>
            </div>
          </a>
        </li>
      <% end %>

      <li class="mason-item has-placard">
        <img src="/assets/img/gallery/coming-soon/san-francisco.jpg" alt="" class="mason-img">
        <div class="gallery-placard">
          <h4 class="gallery-placard-heading">San Francisco, CA</h4>
          <p class="gallery-placard-subheading">Coming Soon</p>
        </div>
      </li>
      <li class="mason-item has-placard">
        <img src="/assets/img/gallery/coming-soon/calistoga.jpg" alt="" class="mason-img">
        <div class="gallery-placard">
          <h4 class="gallery-placard-heading">Calistoga, CA</h4>
          <p class="gallery-placard-subheading">Coming Soon</p>
        </div>
      </li>
    </ul>

    <% data.gallery.each do |event| %>
      <div class="event hide" id="<%= make_path(event.name) %>" data-event>
        <% if event.body %>
          <div class="typeset event-body">
            <p><%= event.body %></p>
          </div>
        <% end %>

        <ul class="mason gallery">
          <li class="mason-item">
            <img src="/assets/img/gallery/<%= make_path(event.name) %>/banner.jpg" alt="" class="mason-img">
          </li>

          <% Dir.entries("source/assets/img/gallery/#{make_path(event.name)}/thumb").each do |img| %>
            <% next if img == '.' or img == '..' or img == 'placard' or img == '.DS_Store' %>

            <li class="mason-item">
              <a href="/assets/img/gallery/<%= make_path(event.name) %>/<%= img %>" class="fancybox" rel="group-<%= make_path(event.name) %>">
                <img src="/assets/img/gallery/<%= make_path(event.name) %>/thumb/<%= img %>" alt="" class="mason-img">
              </a>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>

  </div>
</section>
